fastapi 
uvicorn
pydantic
pydantic[email]
httpx
sqlalchemy
psycopg2-binary
bcrypt
python-jose[cryptography]
python-multipart
passlib[bcrypt]
rasterio
geopandas
pyproj
python-dotenv
anthropic
langchain
langchain-anthropic
langchain-community
sentence-transformers
faiss-cpu
beautifulsoup4
requests
vosk
pyaudio